[submodule "crazyflie-firmware"]
	path = crazyflie-firmware
	url = https://gitee.com/LJN2017117574/crazyflie_firmware.git
	branch = feat/l2f_crazysim
[submodule "crazyflie-lib-python"]
	path = crazyflie-lib-python
	url = https://github.com/llanesc/crazyflie-lib-python.git
	branch = crazysim
[submodule "crazyswarm2_ws/src/crazyswarm2"]
	path = crazyswarm2_ws/src/crazyswarm2
	url = https://github.com/llanesc/crazyswarm2.git
	branch = crazysim
[submodule "l2f_controller"]
	path = l2f_controller
	url = https://gitee.com/LJN2017117574/l2f_controller.git
[submodule "rl_tools"]
	path = rl_tools
	url = https://github.com/rl-tools/rl-tools.git
